name: 'Run'

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        type: string
        required: true
      commit:
        description: 'Commit and push'
        type: boolean
        required: true
        default: false
      export:
        description: 'Export'
        type: string
        required: true
        default: 'all'
      force:
        description: 'Undo and force'
        type: boolean
        required: true
        default: false
      undo:
        description: 'Reset to version'
        type: string

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      
      - run: pip install -r requirements.txt

      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'

      - uses: actions/cache@v3
        with:
          path: '.cache'
          key: mcmeta-${{ inputs.version }}
          restore-keys: |
            mcmeta-

      - run: python main.py${{ inputs.force && format(' --undo {0}', inputs.undo) || '' }} --version ${{ inputs.version }} --fetch --export ${{ inputs.export }}${{ inputs.commit && ' --commit --push' || '' }}${{ inputs.force && ' --force' || '' }}
        env:
          github-username: misode
          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-repository: misode/mcmeta
