name: 'Tick'

on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      id: ${{ steps.check.outputs.id }}
    steps:
      - id: check
        name: Check Minecraft updates
        uses: ByMartrixX/minecraft-update-check-action@v0
        with:
          version-manifest-url: 'https://piston-meta.mojang.com/mc/game/version_manifest_v2.json'
          cache-base-key: 'mc-manifest-'

  update:
    needs: check
    if: ${{ needs.check.outputs.id != '' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      
      - run: pip install -r requirements.txt

      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'

      - uses: actions/cache@v3
        with:
          path: '.cache'
          key: mcmeta-${{ needs.check.outputs.id }}
          restore-keys: |
            mcmeta-

      - run: python main.py --version ${{ needs.check.outputs.id }} --fetch --export all --commit --push
        env:
          github-username: misode
          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-repository: misode/mcmeta
